@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "fot-rodin-pro";
	src: url("/FOT-Rodin\ Pro\ DB.otf Pro DB.otf");
}

body {
	background: #f7f1dc;
}

nav {
	display: flex;
	text-align: center;
	width: 100%;
	background-color: white;
	/* position: fixed;  */
	z-index: 10;
	justify-content: center;
}

.account {
	height: 1rem;
}

#title {
	line-height: 84px;
	text-align: center;
	letter-spacing: 0.07em;
	color: #809a74;
	margin: 0 3.25rem;
	/* text-shadow: -1px -1px 0 rgb(255, 255, 255), 1px -1px 0 rgb(255, 255, 255), -1px 1px 0 rgb(255, 255, 255),
		1px 1px 0 rgb(255, 255, 255); */
}

#menu {
	position: fixed;
	left: 0;
	border-radius: 40px;
	background-color: #809a74;
	padding: 0.25rem 1.25rem;
	margin: 1rem;
	color: white;
	z-index: 10;
	font-size: 2rem;
}

.menuDisplay {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	position: fixed;
	left: 5rem;
	z-index: 10;
	width: 70%;
	margin: 1rem;
	padding: 1rem;
	background-color: #809a74;
	border-radius: 40px;
	border: 1px solid black;
}

.menuDisplay img {
	background-color: white;
	height: 40px;
	padding: 0.4rem;
	margin: 0.2rem;
	border: 1px solid white;
	/* border-radius: 1rem; */
}

.menuDisplay img:hover {
	border: 2px solid black;
}

#iconDisplay {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	margin: 1vh 0;
}

#specialDisplay {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

#specialDisplay a {
	padding: 0 1vw;
	margin: 0.5vh 0.5vw;
	background-color: white;
	border: 1px solid black;
	border-radius: 40px;
}

#specialDisplay a:hover {
	background-color: black;
	border: 1px solid white;
	color: white;
}

.group {
	display: flex;
	flex-direction: row;
	justify-content: center;
	border-radius: 40px;
	/* background-color: #a4be98;  */
	padding: 1vh 1vw;
	margin: 2vh 2vw;
	max-width: 100%;
	flex-wrap: wrap;
}

.group img {
	object-fit: contain;
	height: 200px;
	display: block;
	margin: 0 auto;
	padding: 2vh;
}

.groupName {
	text-align: center;
	font-size: 1.5rem;
	font-family: "Gill Sans", sans-serif;
}

.pikmin {
	margin: 1vw;
	width: 150px;
}

#red {
	background-color: rgba(255, 0, 0, 0.4);
	border-radius: 10px;
}

#yellow {
	background-color: rgba(251, 255, 0, 0.4);
	border-radius: 10px;
}

#blue {
	background-color: rgba(0, 8, 255, 0.4);
	border-radius: 10px;
}

#white {
	background-color: rgba(255, 255, 255, 0.4);
	border-radius: 10px;
}

#purple {
	background-color: rgba(170, 0, 255, 0.4);
	border-radius: 10px;
}

#rock {
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 10px;
}

#winged {
	background-color: rgba(255, 0, 221, 0.4);
	border-radius: 10px;
}

.rare {
	display: flex;
	flex-direction: row;
}

#star {
	position: absolute;
	padding: 0 0.5rem;
	font-size: 2rem;
}

@media screen and (max-width: 500px) {
	#title {
		font-size: 1rem;
	}

	#menu {
		padding: 1rem 0.5rem;
		font-size: 1rem;
	}

	.menuDisplay {
		width: 75%;
		left: 3rem;
	}

	.menuDisplay img {
		height: 30px;
		padding: 0.1rem;
		margin: 0.1rem;
	}

	#specialDisplay a {
		padding: 0 2vw;
		margin: 0.2vh;
		font-size: 0.8rem;
	}
}
